@{
    ViewBag.Title = "Informacion";
}
<h2>@ViewBag.Title</h2>

<h4>Alumno: Carlos Enrique Merino Navarro</h4>
<h4>Carne: MN182254</h4>
<h4>Grupo de laboratorio: 03L</h4>
<address>
    <strong>Soporte Tecnico:</strong>
    <a href="mailto:carlosmerino6991@gmail.com">mn182254@alumno.udb.edu.sv</a><br />
</address>