@{
    ViewBag.Title = "Main Page";
}
<br />
<div class="jumbotron">
    <h1>Productos</h1>
    <p class="lead">Para accesar a la administracion (CRUD) de los productos por favor seguir el enlace siguiente</p>
    <p><a href="/productos" class="btn btn-primary btn-md">Ir a CRUD &raquo;</a></p>
</div>
